.side
  .side__header
    .side__box
      .side__box__name
        = current_user.name
      .side__box__icon
        .side__box__icon-new
        =link_to "/groups/new", class:"side__box__icon-new__btn" do
          = icon('fa', 'edit')
        .side__box__icon-edit
        = link_to edit_user_path(current_user), class:"side__box__icon-sett__btn" do
          = icon('fa', 'cog')
  .side__groups
    - current_user.groups.each do |group|
      .groups
        =link_to group_messages_path(group) , class:"group" do
          .group__name
            = group.name
          .group__message
            = group.show_last_message